[package]
name = "kvdb-rocksdb"
version = "0.2.0"
authors = ["Parity Technologies <admin@parity.io>"]
repository = "https://github.com/paritytech/parity-common"
description = "kvdb implementation backed by rocksDB"
license = "GPL-3.0"

[dependencies]
elastic-array = "0.10"
fs-swap = "0.2.4"
interleaved-ordered = "0.1.0"
kvdb = { version = "0.2", path = "../kvdb" }
log = "0.4"
num_cpus = "1.0"
parking_lot = "0.7"
regex = "1.0"
rocksdb = "0.12.1"

[dev-dependencies]
tempdir = "0.3"
ethereum-types = "0.4"
