language: rust
branches:
  only:
    - master
matrix:
  include:
    - os: linux
      rust: stable
      before_script:
        - rustup component add rustfmt
    - os: linux
      rust: nightly
      script:
        - cargo generate-lockfile --verbose && cargo update -p funty --precise "1.1.0" --verbose
        - cargo check --workspace --benches
    - os: linux
      rust: stable
      install:
        - cargo install cross
      script:
        - cargo generate-lockfile --verbose && cargo update -p funty --precise "1.1.0" --verbose
        - cross test --target=aarch64-linux-android -p parity-util-mem
        - cross test --target=mips64-unknown-linux-gnuabi64 -p uint
    - os: osx
      osx_image: xcode11.3
      addons:
        firefox: latest
      rust: stable
  allow_failures:
    - rust: nightly
install:
  - rustup target add wasm32-unknown-unknown
  - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | sh
  - source ~/.nvm/nvm.sh
  - nvm install --lts
  - npm install -g geckodriver@1.19.1 # https://github.com/rustwasm/wasm-bindgen/issues/2261
  - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
  - which geckodriver
script:
  - cargo generate-lockfile --verbose && cargo update -p funty --precise "1.1.0" --verbose
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    cargo fmt -- --check;
    fi
  - cargo check --workspace --tests --benches
  - cargo test --workspace --exclude uint --exclude fixed-hash --exclude parity-crypto
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
    cd contract-address/ && cargo test --features=external_doc && cd ..;
    fi
  - cd ethbloom/ && cargo test --no-default-features --features="rustc-hex" && cargo check --benches && cd ..
  - cd ethereum-types/ && cargo build --no-default-features --features="serialize,rlp" --target=wasm32-unknown-unknown && cd ..
  - cd fixed-hash/ && cargo test --all-features && cargo test --no-default-features --features="byteorder,rustc-hex" && cd ..
  - cd uint/ && cargo test --all-features && cargo test --no-default-features && cd ..
  - cd keccak-hash/ && cargo test --no-default-features && cd ..
  - cd plain_hasher/ && cargo test --no-default-features && cargo check --benches && cd ..
  - cd parity-bytes/ && cargo test --no-default-features && cd ..
  - cd parity-crypto/ && cargo test --all-features && cd ..
  - cd parity-util-mem/ && cargo test --features=estimate-heapsize && cd ..
  - cd parity-util-mem/ && cargo test --features=jemalloc-global && cd ..
  - cd parity-util-mem/ && cargo test --features=mimalloc-global && cd ..
  - cd parity-util-mem/ && cargo test --no-default-features --features=dlmalloc-global && cd ..
  - cd primitive-types/ && cargo test --all-features && cd ..
  - cd primitive-types/ && cargo test --no-default-features --features=serde_no_std && cd ..
  - cd primitive-types/ && cargo test --no-default-features --features=scale-info && cd ..
  - cd rlp/ && cargo test --no-default-features && cargo check --benches && cd ..
  - cd triehash/ && cargo check --benches && cd ..
  - cd kvdb-web/ && wasm-pack test --headless --firefox && cd ..
  - cd ethbloom/ && cargo test --all-features && cd ..
  - cd ethereum-types/ && cargo test --all-features && cd ..
