language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
script:
  - cargo build --features=heapsizeof,std
  - cargo test --features=heapsizeof,std
  - rustup default nightly
  - cargo bench
env:
  - RUST_LOG=quickcheck
