[package]
name = "tests"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]

[build-dependencies]
rustc_version = "0.2"

[dependencies]
crunchy = "0.1.5"
ethereum-types = { version = "0.3.0", path ="../ethereum-types", features = ["std", "heapsizeof"] }
quickcheck = "0.6"
serde_json = "1.0"
uint = { path = "../uint" , features = ["impl_quickcheck_arbitrary"] }

[features]
use_asm = ["uint/use_asm", "ethereum-types/use_asm"]
