[package]
name = "rlp"
version = "0.4.2"
description = "Recursive-length prefix encoding, decoding, and compression"
repository = "https://github.com/paritytech/parity-common"
license = "MIT/Apache-2.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"

[dependencies]
rustc-hex = { version = "2.0", default-features = false }

[dev-dependencies]
hex-literal = "0.2"
primitive-types = { path = "../primitive-types", version = "0.5", features = ["impl-rlp"] }

[features]
default = ["std"]
std = [
    "rustc-hex/std",
]
