[package]
name = "kvdb-memorydb"
version = "0.2.0"
authors = ["Parity Technologies <admin@parity.io>"]
repository = "https://github.com/paritytech/parity-common"
description = "A key-value in-memory database that implements the  `KeyValueDB` trait"
license = "GPL-3.0"
edition = "2018"

[dependencies]
parity-util-mem = { path = "../parity-util-mem", version = "0.3", features = ["derive"] }
parking_lot = "0.9.0"
kvdb = { version = "0.2", path = "../kvdb" }
