[package]
description = "Large fixed-size integer arithmetic"
homepage = "http://parity.io"
repository = "https://github.com/paritytech/parity-common"
license = "MIT/Apache-2.0"
name = "uint"
version = "0.8.2"
authors = ["Parity Technologies <admin@parity.io>"]
readme = "README.md"
edition = "2018"

[dependencies]
byteorder = { version = "1.3.2", default-features = false }
rustc-hex = { version = "2.0.1", default-features = false }
quickcheck = { version = "0.9.0", optional = true }
crunchy = { version = "0.2.2", default-features = false }
rand = { version = "0.7.2", default-features = false }

[features]
default = ["std"]
std = ["byteorder/std", "rustc-hex/std", "crunchy/std", "rand/std"]

[[example]]
name = "modular"

[[test]]
name = "uint_tests"
required-features = ["std"]

[dev-dependencies]
criterion = "0.3.0"
num-bigint = "0.2.3"

[target.'cfg(unix)'.dev-dependencies]
rug = { version = "1.6.0", default-features = false, features = ["integer"] }

[[bench]]
name = "bigint"
harness = false
