[package]
name = "bounded-collections"
version = "0.2.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/paritytech/parity-common"
description = "Bounded types and their supporting traits"
edition = "2021"
rust-version = "1.60.0"

[dependencies]
serde = { version = "1.0.101", default-features = false, optional = true, features=["alloc", "derive"] }
codec = { version = "3.3.0", default-features = false, features = ["max-encoded-len"], package = "parity-scale-codec" }
scale-info = { version = ">=1.0, <3", features = ["derive"], default-features = false }
log = { version = "0.4.17", default-features = false }
schemars = { version = ">=0.8.12", default-features = true, optional = true }

[dev-dependencies]
serde_json = "1.0.41"

[features]
default = ["std"]
json-schema = ["dep:schemars"]
std = [
    "log/std",
    "codec/std",
    "scale-info/std",
    "serde/std",
]
