[package]
name = "kvdb-web"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
repository = "https://github.com/paritytech/parity-common"
description = "A key-value database for use in browsers"
documentation = "https://docs.rs/kvdb-web/"
license = "GPL-3.0"
edition = "2018"

[dependencies]
wasm-bindgen = "0.2.49"
js-sys = "0.3.26"
kvdb = { version = "0.1", path = "../kvdb" }
kvdb-memorydb = { version = "0.1", path = "../kvdb-memorydb" }
futures-preview = "0.3.0-alpha.17"
log = "0.4.8"

[dependencies.web-sys]
version = "0.3.26"
features = [
	'console',
	'Window',
	'IdbFactory',
	'IdbDatabase',
	'IdbTransaction',
	'IdbTransactionMode',
	'IdbOpenDbRequest',
	'IdbRequest',
	'IdbObjectStore',
	'Event',
	'EventTarget',
	'IdbCursor',
	'IdbCursorWithValue',
	'DomStringList',
]

[dev-dependencies]
wasm-bindgen-test = "0.2.49"
futures-preview = { version = "0.3.0-alpha.18", features = ['compat'] }
futures01 = { package = "futures", version = "0.1" }
console_log = "0.1.2"
