[package]
name = "impl-serde"
version = "0.4.0"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/paritytech/parity-common"
description = "Serde serialization support for uint and fixed hash."
edition = "2021"
rust-version = "1.56.1"

[features]
default = ["std"]
std = ["serde/std"]

[dependencies]
serde = { version = "1.0.101", default-features = false, features = ["alloc"] }

[dev-dependencies]
criterion = "0.3.0"
serde_derive = "1.0.101"
serde_json = "1.0.41"
uint = { version = "0.9.0", path = "../../../uint" }

[[bench]]
name = "impl_serde"
harness = false
